<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body class="container">
  <h1>Your coach answer</h1>
  <hr>
  <br>
  <div class="question-container">
    <%= @question%>
  </div>
  <br>
  </br>
  <div class="answer-container">
    <%= @answer%>
  </div>


</body>
</html>

